* {

    padding: 0px;
    margin: 0px;
}

.content {

    width: 100%;
    height: 100%;

}

.slider {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url("Imagenes/pueblo11.webp");
    background-position: center center;

}

h2 {

    color: whitesmoke;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Radio Canada', sans-serif;
    font-family: 'Water Brush', cursive;

}

.slider li {

    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center center;
    animation: slider 40s linear infinite;

}

.slider .imagen1{

    background-image: url("Imagenes/pueblo12.jpg");
    animation-delay: 10s;

}

.slider .imagen2 {

    background-image: url("Imagenes/pueblo13.jpg");
    animation-delay: 20s;


}

.slider .imagen3 {

    background-image: url("Imagenes/pueblo14.webp");
    animation-delay: 30s;

}


@keyframes slider {
    0% {opacity: 0; animation-timing-function: ease-in;}
    10% {opacity: 1; animation-timing-function: ease-out;}
    25% {opacity: 1;transform: scale(1);}
    50% {opacity: 0;transform: scale(2);}
    100% {opacity: 0;}
}

