@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 10;
}

body{
    width:100%;
    margin: 0 auto;
    min-width:600px;
    max-width:2000px;
    background-image: url(imagenes/fondo.jpg);
    background-repeat: no-repeat; background-size: cover;
}

.div1{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
} 

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLogo{
    width: 70px;
    height: 70px;
}


.menu {
    height: 80px;
    margin-right: 60px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.paginaSeleccionada:before{
    content: '';
    width: 100%;
    height: 4px;
    background: #375995;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: #777777;
    font-size: 18px;
    transition: color 300ms;
    font-family: Rockwell;
}

.menu nav ul li a:hover{
    color: #375995;
}

.menu .textoSeleccionado{
    color: #375995;
}

.menu nav ul li a i{
    display: none;
}

.tituloDePagina{
    font-family: Rockwell;
    display: inline-block;
    text-align: left;
    vertical-align: 100%;
    color: rgb(28, 49, 68);
    text-shadow: 1px 1px 30px rgb(255, 255, 255), 2px 5px 2px rgb(177, 176, 176);
}

h1 {
    color: #375995;
    font-size: 200%;
    font-family: Rockwell;
}

/*
.container{
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

section{
    border: 2px solid #5624d0;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
}

label{
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px dashed #ccc;
    margin-bottom: 3px;
}

label:hover{
    background: #cec0fc;
}

button{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #76d7c8;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

button:hover{
    background: #000;
    color: #fff;
    transition: all .3s;
    transform: scale(1.1);
}

h2{
    text-align: center;
}

#resultado{
    font-size: 30px;
    color: darkred;
} */

.form {
    background-color: whitesmoke;
    margin: auto;
    width: 200%;
    max-width: 600px;
    padding: 8em 6em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
}

.form_title {
    font-family: Rockwell;
    font-size: 2rem;
    margin-bottom: 1em;
}

.form_group {
    color: #c45890;
    font-size: 1rem;
    font-family: Rockwell;
}

.opciones{
    cursor: pointer; 
}

.motivo{
    width: 100%;
    padding: 1em;
}

.personas{
    width: 100%;
    padding: 1em;
}

.precio{
    width: 100%;
    padding: 1em 0% 2em;
}

.form_label {
    color: navajowhite;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateX(10px);
    transition: transform .5s, color .3s;
}

.form_submit{
    background: #fda9ef;
    -moz-border-radius: 0px 35px 0px 35px;
    -webkit-border-radius: 10px 10px 10px 10px;
    text-shadow: 2px 2px 10px rgb(194, 194, 194);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.50);
    font-family: Rockwell;
    color: #2c2729;
    font-size: 130%;
    text-align: center;
    cursor: pointer;
    padding: 0.5em;
}

.volver{
    background: #74a6d4;
    margin: 2% 43% 5%;
    overflow: hidden;
    padding: 0px 60px;
    border-radius: 0px 50px 0px 50px;
    -moz-border-radius: 0px 35px 0px 35px;
    -webkit-border-radius: 10px 10px 10px 10px;
    text-shadow: 2px 2px 10px rgb(194, 194, 194);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.50);
}

.volver h1{
    font-family: Rockwell;
    color: #ffffff;
    font-size: 150%;
    text-align: center;
}