@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 10;
}

body{
    width:100%;
    margin: 0 auto;
    min-width:600px;
    max-width:2000px;
    background-image: url(imagenes/fondo.jpg);
    background-repeat: no-repeat; background-size: cover;
  }

.div1{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
} 

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLogo{
    width: 70px;
    height: 70px;
}


.menu {
    height: 80px;
    margin-right: 60px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.paginaSeleccionada:before{
    content: '';
    width: 100%;
    height: 4px;
    background: #375995;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: #777777;
    font-size: 18px;
    transition: color 300ms;
    font-family: Rockwell;
}

.menu nav ul li a:hover{
    color: #375995;
}

.menu .textoSeleccionado{
    color: #375995;
}

.menu nav ul li a i{
    display: none;
}

.lineaRecta{
    border-top: 2px solid grey;
} /* Linea membrete LISTO*/

.lineaPunteada{
    border-top: 1px dashed grey;
} /* Linea membrete LISTO*/

.tituloDePagina{
    font-family: Rockwell;
    display: inline-block;
    text-align: left;
    vertical-align: 100%;
    color: rgb(28, 49, 68);
    text-shadow: 1px 1px 30px rgb(255, 255, 255), 2px 5px 2px rgb(177, 176, 176);
}

h1 {
    color: #375995;
    font-size: 200%;
    font-family: Rockwell;
}

#contenedorIconoBuscar{
    position: absolute;
    right: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedorIconoBuscar i{
    font-size: 18px;
    color: #777777;
    cursor: pointer;
    transition: all 300ms;
}

#contenedorIconoBuscar i:hover{
    color: #46a2fd;
}


#barraBusqueda{
    position: fixed;
    top: -10px;
    width: 100%;
    background: #fff;
    padding: 20px;
    z-index: 9;
    transition: all 600ms;
}

#barraBusqueda input{
    display: block;
    width: 1200px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    outline: 0;
}

#cajaBusqueda{
    position: fixed;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    background: #fff;
    z-index: 8;
    overflow: hidden;
    display: none;
}

#cajaBusqueda li a{
    display: block;
    width: 1200px;
    color: #777777;
    padding: 12px 20px;
}

#cajaBusquedah li a:hover{
    background: #f3f3f3;
}

#cajaBusqueda li a i{
    margin-right: 10px;
    color: #777777;
}

#contenedorBusqueda{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 7;
    display: none;
}

.form h2{
    font-family: Rockwell; 
    width: 100%;
    color: #242a2c;
}

.contenedor-botones {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 8em 18% 7%;
}

.boton-uno {
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: #ffffff;
    color: #2c2c2e;
    font-family: Rockwell; 
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.boton-uno::after {
    content: "";
    width: 100%;
    height: 80px;
    background-color: #7fd895;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all;
}

.boton-uno:hover::after {
    top: 0;
}

.boton-uno span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.boton-dos {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: #ffffff;
    color: #000000;
    font-family: Rockwell;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.boton-dos::after {
    content: "";
    width: 100%;
    height: 80px;
    background-color: #61bdda;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all;
}

.boton-dos:hover::after {
    top: 0;
}

.boton-dos span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.tituloVideosYoutube{
    margin: 5% 1% auto;
}

.tituloVideosYoutube h2{
    text-align: center;
    font-family: Rockwell; 
    color: #bd2d77;
    text-shadow: 1px 1000px 100px rgba(255, 255, 255, 0.726), 2px 5px 2px rgba(136, 136, 136, 0.596);
    font-size: 250%;
}

.videosyoutube{
    width: 100%;
    margin:50px 1%;
}

.videoyou1 {
    display: inline-block;
    width: 49%;
    height: 50%;
    margin: 10px auto;
}

.videoyou2 {
    display: inline-block;
    width: 49%;
    height: 50%;
    margin: 10px auto;
}

.pregunta {
    font-family: "Roboto Light";
    text-align: center;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#f264d7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}

.form{
    background: pink;
    margin: 0px 20% 0px;
    width: 100%;
    max-width: 400px;
    padding: 0px 200px 0px;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
    display: grid;
}

.input{
    width: 100%;
    background: snow;
    color: #c45890;
    font-size: 1em;
    padding: .6em .3em;
    border: none;
    outline: none;
    font-family: Rockwell;
}

.videoyou1 iframe{
    width: 100%;
    height: 350px;
} 

.videoyou2 iframe{
    width: 100%;
    height: 350px;
} 

.footer{
    font-family: Rockwell;
    text-align: left;
    font-size: 70%;
}
.footer span{
    display: inline-block;
}
.lineaRecta{
    border-top: 2px solid grey;
} /* Linea membrete LISTO*/
.lineaPunteada{
    border-top: 1px dashed grey;
} /* Linea membrete LISTO*/

@media screen and (max-width: 800px){

    body{
        overflow-x: hidden;
    }

    .contenedorTodo{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .moverContenido{
        transform: translateX(300px);
    }

    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: #fff;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menuSeleccionado:before{
        width: 0;
    }

    .menu nav ul li a{
        margin-top: 40px;
        color: #858585;
    }

    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #46a2fd;
    }

    #iconoMenu{
        display: flex;
        right: 60px;
    }
}